absl-py==2.0.0
accelerate==0.27.2
adapter-transformers==3.2.1.post0
aiofiles==23.2.1
aiohttp==3.9.0
aiosignal==1.3.1
aiostream==0.5.2
altair==5.1.2
annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
asyncer==0.0.2
asyncio==3.4.3
attrs==23.1.0
auto-gptq==0.5.1
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
bidict==0.22.1
bitarray==2.8.3
bitsandbytes @ https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.1-py3-none-win_amd64.whl#sha256=adacda9b2b65dcb1931b222dffd7a91f0b611b3410d5b51c37ef7b22654106e6
blinker==1.7.0
build==1.1.1
CacheControl==0.14.0
cachetools==5.3.2
certifi==2023.11.17
chainlit==1.0.200
charset-normalizer==3.3.2
Chroma==0.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.18
cleo==2.1.0
click==8.1.7
cmdstanpy==1.2.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.0
constants==0.6.0
contourpy==1.2.0
crashtest==0.4.1
crewai==0.5.0
ctransformers==0.2.27
cycler==0.12.1
Cython==3.0.5
dataclasses-json==0.5.14
datasets==2.20.0
debugpy==1.8.0
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.7
distlib==0.3.8
distro==1.8.0
docstring-parser==0.15
duckdb==0.10.2
dulwich==0.21.7
einops==0.7.0
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==2.0.1
faiss-cpu==1.7.4
Faker==19.13.0
fastapi==0.100.1
fastapi-socketio==0.0.10
fastjsonschema==2.19.1
filelock==3.13.1
filetype==1.2.0
flatbuffers==23.5.26
fonttools==4.45.0
frozenlist==1.4.0
fsspec==2023.10.0
gast==0.5.4
gekko==1.0.6
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
googleapis-common-protos==1.61.0
gpt4all==2.0.2
greenlet==3.0.1
groq==0.5.0
grpcio==1.59.3
h11==0.14.0
h5py==3.10.0
holidays==0.36
httpcore==0.17.3
httptools==0.6.1
httpx==0.24.1
huggingface-hub==0.23.4
humanfriendly==10.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
installer==0.7.0
InstructorEmbedding==1.0.1
ipykernel==6.26.0
ipython==8.17.2
ipywidgets==8.1.1
jaraco.classes==3.3.1
jedi==0.19.1
Jinja2==3.1.4
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyterlab-widgets==3.0.9
keras==2.15.0
keyring==24.3.1
kiwisolver==1.4.5
kubernetes==28.1.0
langchain==0.1.0
langchain-community==0.0.20
langchain-core==0.1.23
langchain-openai==0.0.2.post1
langchain-text-splitters==0.0.1
langsmith==0.0.87
Lazify==0.4.0
libclang==16.0.6
literalai==0.0.103
llama-index==0.9.7
llvmlite==0.42.0
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.2.0
mmh3==4.0.1
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
numba==0.59.1
numpy==1.26.2
oauthlib==3.2.2
onnxruntime==1.16.3
openai==1.30.5
openpyxl==3.1.2
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-exporter-otlp-proto-http==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
opt-einsum==3.3.0
orjson==3.10.1
overrides==7.4.0
packaging==23.2
pandas==1.5.3
pandasai==2.0.37
parso==0.8.3
patsy==0.5.3
pdf2image==1.16.3
pdfreader==0.1.12
peft @ git+https://github.com/huggingface/peft.git@d37dde61e1572f41cb43705f25f2015cad89b4c1
pexpect==4.9.0
Pillow==10.1.0
pkginfo==1.10.0
platformdirs==4.0.0
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.6.0
poppler-utils==0.1.0
posthog==3.0.2
prompt-toolkit==3.0.41
prophet==1.1.5
protobuf==4.23.4
psutil==5.9.6
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyarrow-hotfix==0.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycryptodome==3.19.0
pydantic==2.5.1
pydantic_core==2.14.3
pydeck==0.8.1b0
Pygments==2.17.1
PyJWT==2.8.0
pylance==0.8.17
pyod==1.1.3
pyparsing==3.1.1
pypdf==3.17.1
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.0.0
pyreadline3==3.4.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.8.0
python-graphql-client==0.4.3
python-multipart==0.0.6
python-socketio==5.10.0
pytz==2023.3.post1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
pyzmq==25.1.1
rapidfuzz==3.6.2
referencing==0.31.0
regex==2023.10.3
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.7.0
rouge==1.0.1
rpds-py==0.13.1
rsa==4.9
safetensors==0.4.3
scikit-learn==1.3.2
scipy==1.11.4
sentence-transformers==2.7.0
sentencepiece==0.1.99
shellingham==1.5.4
shtab==1.6.5
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.23
stack-data==0.6.3
stanio==0.3.0
starlette==0.27.0
statsmodels==0.14.0
streamlit==1.28.2
streamlit-chat==0.1.1
sympy==1.12
syncer==2.0.3
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
textblob==0.17.1
threadpoolctl==3.2.0
tiktoken==0.5.2
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.4
toolz==0.12.0
torch==2.1.1+cu118
torchaudio==2.1.1+cu118
torchvision==0.16.1
tornado==6.3.3
tqdm==4.66.4
traitlets==5.13.0
transformers==4.38.2
trl==0.7.9
trove-classifiers==2024.3.3
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.8.0
tyro==0.6.4
tzdata==2023.3
tzlocal==5.2
uptrace==1.24.0
urllib3==1.26.18
uvicorn==0.25.0
vaderSentiment==3.3.2
validators==0.22.0
virtualenv==20.25.1
watchdog==3.0.0
watchfiles==0.20.0
wcwidth==0.2.10
websocket-client==1.6.4
websockets==12.0
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wordcloud==1.9.3
wrapt==1.14.1
wsproto==1.2.0
xformers==0.0.22.post7
xgboost==2.0.2
xxhash==3.4.1
yarl==1.9.2
zipp==3.17.0